
#忽略该类型文件
*.obj
*.mxproject
*.ioc


#忽略该文件夹
/X86-YMCV/Debug
/X86-YMCV/Release
/X86-YMCV/EGE_LCD/Debug
/X86-YMCV/EGE_LCD/Demo
/X86-YMCV/EGE_LCD/EGE_LCD
/X86-YMCV/EGE_LCD/ImageSource
/X86-YMCV/EGE_LCD/Release
/X86-YMCV/EGE_LCD/YMCV

/X64-YMCV/Debug
/X64-YMCV/Release
/X64-YMCV/EGE_LCD/Debug
/X64-YMCV/EGE_LCD/Demo
/X64-YMCV/EGE_LCD/EGE_LCD
/X64-YMCV/EGE_LCD/ImageSource
/X64-YMCV/EGE_LCD/Release
/X64-YMCV/EGE_LCD/YMCV

/隐藏文件

/STM32-YMCV/MDK-ARM/YMCV_GRAPH

/Linux-YMCV/build
/Linux-YMCV/out

/例程测试视频/YMCV-TestVideo


